.hr-text {
  margin: 1rem 0;
  &:before {
    margin-right: 0.5rem;
  }
  &:after {
    margin-left: 0.5rem;
  }
  &:before,
  &:after {
    content: '';
    flex-grow: 1;
    background: $gray-300;
    height: 1px;
    font-size: 0;
    line-height: 0;
  }
}
