#spinner {
  // this gets overriden from `d-block` added
  display: none;

  // expand to fill entire page
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;

  // radial gradient faded background
  background-color: rgba(0, 0, 0, 0.3);
  background-image: radial-gradient(
    circle at center 200px,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 1)
  );
  background-repeat: no-repeat;

  // override z-index so we're always on top
  z-index: 9999;

  // prevent Chrome on Windows from adding a focus outline
  // <https://github.com/twbs/bootstrap/pull/10951>
  outline: 0;

  // <http://stackoverflow.com/a/2870024>
  background-attachment: fixed;

  // override spinkit variables just for this
  $spinkit-size: 60px;
  $spinkit-spinner-margin: 100px auto;
  $spinkit-spinner-color: white;

  // spinkit
  @import 'node_modules/spinkit/scss/spinkit';
}
